@media screen and (max-width:425px) {
    
    #info{
  margin-left: 80px;
    }
}

@media screen and (min-width:425px) {
    
    #info{
  margin-left: 80px;
  display: none;
    }
}

